/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'); */
@import 'tailwindcss';
@import './styles/font.css';

@theme {
  --font-comfortaa: Comfortaa, sans-serif;
  --font-aidocr: Aidocr, sans-serif;

  --color-primary: #f6f8fe;
  --color-blue-light: #4e7cbf;
  --color-blue-dark: #122e52;
  --color-blue: #e4efff;
  --color-hover: #007bff;
  --color-title: #525a98;
  --color-divider: #e7b667;

  --leading-h1: 1.11;

  --shadow-header: 0 7px 11px rgba(0, 0, 0, 0.1);

  --breakpoint-xs: 23.4375rem; /* 375px */
  --breakpoint-sm: 425px; /* 425px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 53.75rem; /* 860px */
  --breakpoint-xl: 64rem; /* 1024px */
  --breakpoint-2xl: 64rem; /* 1200px */
  --breakpoint-3xl: 90rem; /* 1440px */
  --breakpoint-4xl: 120rem; /* 1920px */
  --breakpoint-5xl: 140rem; /* 2240px */
}

:root {
  @apply font-comfortaa;
}

.container {
  @apply max-w-307.5 w-full mx-auto px-7.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-title;
}

.description {
  @apply font-normal leading-[1.67] xl:mt-[-15px] xl:mb-[40px] text-[17px] mb-7.5;
}

.workflow-content {
  @apply flex-[0.5];
}

.title {
  @apply leading-[1.11] 4xl:text-[55px] 4xl:mb-[50px] 3xl:text-[42px] xl:text-[38px] lg:text-[32px] lg:mb-[42px] xs:text-[30px] xs:mb-4 text-[26px] mb-[20px];
}

input,
textarea {
  @apply outline-none;
}

h5 {
  @apply text-[25px] font-bold;
}
